<a href="https://colab.research.google.com/github/natangarcia-gnoss/GNOSS-Modulo-2-Data/blob/main/An%C3%A1lisis_de_datos_Modulo_2_GNOSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tarea 2.1. Investigación de datos previa a la ETL

**DESCRIPCIÓN:**  
Este código está sacado del ejemplo disponible para el API, he omitido gran parte del documento pues requiere para su uso una suscripción premium.

In [ ]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install --upgrade comtradeapicall

Collecting comtradeapicall
  Downloading comtradeapicall-1.2.1-py3-none-any.whl.metadata (19 kB)
Downloading comtradeapicall-1.2.1-py3-none-any.whl (19 kB)
Installing collected packages: comtradeapicall
Successfully installed comtradeapicall-1.2.1

In [ ]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas
import requests
import comtradeapicall

In [ ]:
key = ''
with open('key_api.txt') as fich:
  key = fich.read()

In [ ]:
subscription_key = key # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '.'  # output directory for downloaded files
#proxy_url = '<PROXY URL>'  # optional if you need proxy url

In [ ]:
#set some variables
from datetime import date
from datetime import timedelta
today = date.today()
yesterday = today - timedelta(days=1)
lastweek = today - timedelta(days=7)

In [ ]:
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022

In [26]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='A', clCode='HS', period='202201',
                                        reporterCode=None, cmdCode=None, flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)
#Consulta general sin especificar pais ni socio.

In [ ]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                        reporterCode='36', cmdCode='91', flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [27]:
mydf.columns

RangeIndex(start=0, stop=0, step=1)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,6.735064e+07,6.642209e+07,6.735064e+07,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.208810e+02,7.800080e+02,8.208810e+02,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,2.605931e+05,2.599554e+05,2.605931e+05,0,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.668635e+04,2.544649e+04,2.668635e+04,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,7.410397e+03,7.027445e+03,7.410397e+03,0,False,True

In [ ]:
mydf.describe()

,refPeriodId,refYear,refMonth,reporterCode,partnerCode,partner2Code,aggrLevel,motCode,qtyUnitCode,qty,altQtyUnitCode,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue,legacyEstimationFlag
count,52.0,52.0,52.0,52.0,52.000000,52.0,52.0,52.0,52.0,52.0,52.0,52.0,52.0,52.0,5.200000e+01,5.200000e+01,5.200000e+01,52.000000
mean,20220501.0,2022.0,5.0,36.0,438.846154,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,2.590409e+06,2.554696e+06,2.590409e+06,1.307692
std,0.0,0.0,0.0,0.0,249.859128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.177615e+07,1.164581e+07,1.177615e+07,1.894662
min,20220501.0,2022.0,5.0,36.0,0.000000,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,7.442820e+02,7.165330e+02,7.442820e+02,0.000000
25%,20220501.0,2022.0,5.0,36.0,245.000000,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,3.669758e+03,3.386986e+03,3.669758e+03,0.000000
50%,20220501.0,2022.0,5.0,36.0,444.000000,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,7.334291e+03,6.926481e+03,7.334291e+03,0.000000
75%,20220501.0,2022.0,5.0,36.0,686.250000,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,1.381927e+05,1.332380e+05,1.381927e+05,4.000000
max,20220501.0,2022.0,5.0,36.0,842.000000,0.0,2.0,0.0,-1.0,0.0,-1.0,0.0,0.0,0.0,6.735064e+07,6.642209e+07,6.735064e+07,4.000000

In [ ]:
# Call preview tariffline data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [ ]:
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.0,1118.299108,1003.845148,1118.299108
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,2.0,2178.010200,2112.074000,2178.010200
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,86.0,28196.674488,26240.047724,28196.674488
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,1.0,1041.531036,931.569200,1041.531036
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,93000.0,217240.477676,215850.979804,217240.477676

In [ ]:
# The same preview final call but using proxy_url
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True, proxy_url=proxy_url)

In [ ]:
# Call get final data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [ ]:
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,3.024066e+05,2.547313e+05,3.024066e+05,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,8.900632e+03,8.692718e+03,8.900632e+03,4,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.913730e+07,2.712739e+07,2.913730e+07,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.091258e+07,1.015719e+07,1.091258e+07,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.601507e+04,1.571131e+04,1.601507e+04,4,False,True

In [ ]:
# Call get tariffline data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [ ]:
mydf = comtradeapicall.getTarifflineData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                         reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                         partner2Code=None,
                                         customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                         countOnly=None, includeDesc=True)

In [ ]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

Analisis de los otros dataset World Bank Open Data y Fondo Monetario Internacional

In [28]:
#Imports #
import numpy as np
import pandas as pd

In [38]:
wbod = pd.read_csv('wbod_gdp.csv')  #Datos GDP por paises (World Bank Open Data)
imf  = pd.read_csv('imf_exports.csv', on_bad_lines='skip' , delimiter=";"); #Datos de exportaciones por meses y paises (Fondo monetario internacional)

In [40]:
wbod.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN

In [39]:
imf.head()

,Country,2014M01,2014M02,2014M03,2014M04,2014M05,2014M06,2014M07,2014M08,2014M09,...,2022M03,2022M04,2022M05,2022M06,2022M07,2022M08,2022M09,2022M10,2022M11,2022M12
0,Australia,"17.514,81","15.439,82","17.313,11","17.896,08","17.801,87","17.879,25","19.394,52","18.213,04","18.836,44",...,"24.550,54","23.660,47","23.830,03","27.816,36","25.827,32","25.321,03","26.094,64","23.046,98","24.527,41","25.204,39"
1,World,"1.553.343,20","1.427.120,44","1.622.490,38","1.592.366,60","1.604.995,59","1.581.769,68","1.648.502,92","1.498.051,87","1.619.388,65",...,"2.188.754,04","2.030.258,36","2.118.551,64","2.200.661,61","2.083.310,41","2.078.565,52","2.123.340,08","2.019.699,66","2.057.206,30","2.029.259,27"
2,Advanced Economies,"970.054,66","897.198,82","1.011.013,69","983.830,90","989.271,41","980.804,47","1.023.007,08","913.024,92","1.006.762,52",...,"1.366.423,18","1.253.837,99","1.299.907,24","1.349.398,69","1.263.652,32","1.261.196,75","1.304.454,87","1.236.561,66","1.262.123,57","1.234.739,10"
3,Euro Area,"390.930,53","366.628,06","405.945,65","392.748,96","394.465,87","389.184,31","401.432,92","338.992,03","386.397,81",...,"563.850,32","509.910,90","531.018,48","540.057,90","506.988,55","500.105,08","529.377,00","500.999,59","525.284,13","491.626,07"
4,Austria,"14.682,79","14.621,10","15.283,74","15.258,13","14.546,87","14.508,25","15.030,94","12.392,62","14.722,11",...,"21.781,38","19.470,99","19.525,80","19.810,84","18.317,31","19.316,98","20.051,88","18.518,92","20.412,33","17.117,41"

Index(['Country;2014M01;2014M02;2014M03;2014M04;2014M05;2014M06;2014M07;2014M08;2014M09;2014M10;2014M11;2014M12;2015M01;2015M02;2015M03;2015M04;2015M05;2015M06;2015M07;2015M08;2015M09;2015M10;2015M11;2015M12;2016M01;2016M02;2016M03;2016M04;2016M05;2016M06;2016M07;2016M08;2016M09;2016M10;2016M11;2016M12;2017M01;2017M02;2017M03;2017M04;2017M05;2017M06;2017M07;2017M08;2017M09;2017M10;2017M11;2017M12;2018M01;2018M02;2018M03;2018M04;2018M05;2018M06;2018M07;2018M08;2018M09;2018M10;2018M11;2018M12;2019M01;2019M02;2019M03;2019M04;2019M05;2019M06;2019M07;2019M08;2019M09;2019M10;2019M11;2019M12;2020M01;2020M02;2020M03;2020M04;2020M07;2020M08;2020M09;2020M10;2020M11;2020M12;2021M01;2021M02;2021M03;2021M04;2021M05;2021M06;2021M07;2021M08;2021M09;2021M10;2021M11;2021M12;2022M01;2022M02;2022M03;2022M04;2022M05;2022M06;2022M07;2022M08;2022M09;2022M10;2022M11;2022M12'], dtype='object')